<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DtuConfig.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <DtuConfig.Properties.Settings>
            <setting name="ComBaudRate" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ComParity" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ComData" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ComStop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ComFlow" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ComEnter" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NetIP" serializeAs="String">
                <value>112.17.83.76</value>
            </setting>
            <setting name="NetPort" serializeAs="String">
                <value>10000</value>
            </setting>
            <setting name="NetType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HeartbeatEn" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HeartbeatTime" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="HeartbeatData" serializeAs="String">
                <value>tastek_dtu</value>
            </setting>
            <setting name="RegPackageEn" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RegPackageType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RegPackageData" serializeAs="String">
                <value>www.tastek.cn</value>
            </setting>
            <setting name="CloudEn" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CloudDeviceID" serializeAs="String">
                <value>00000000000000000000</value>
            </setting>
            <setting name="CloudDeviceKey" serializeAs="String">
                <value>00000000</value>
            </setting>
            <setting name="RegPackageMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="NetIPB" serializeAs="String">
                <value>112.17.83.76</value>
            </setting>
            <setting name="NetPortB" serializeAs="String">
                <value>10000</value>
            </setting>
            <setting name="NetTypeB" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HeartBeatHex" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RegPackageHex" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GlobalAckT" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GlobalRelink" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="GlobalPacketT" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GlobalPacketL" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GlobalFliter" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GlobalComBaud" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="GlobalParity" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GlobalData" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="GlobalStop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GlobalFlow" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GlobalApnType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GlobalApnData" serializeAs="String">
                <value>"","",""</value>
            </setting>
            <setting name="comboBox6" serializeAs="String">
                <value>0</value>
            </setting>
        </DtuConfig.Properties.Settings>
    </userSettings>
</configuration>